@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Rubik+Puddles&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #002060;
  color: white;
  font-family: 'Barriecito', cursive;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:
  "new message score";
}

/** header */
header{
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  font-size: 5rem;
  margin: 1.5rem 0;
}

.instruction {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.btn{
  font-family: 'Barriecito', cursive;
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;  
}

.btn--new{
  background-color: white;
  color: black;
  grid-area: new;
}
.message{
  font-size: 2rem;
  color: #c7365f;
  width: 130px;
  text-align: center;
  grid-area: message;
}

.label-score {
  display: inline;
  font-size: 2rem;
  text-align: center;
  grid-area: score;
}

.score{
  display: inline-block;
  width: 50px;
  text-align: center;
}

/** main section */
.container--main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#circle {
  border-radius: 50%;
  background-color: #FFC000;
  margin: 10px;
}

#square {
  background-color: #FFC000;
  margin: 10px;
}

#circle:hover, #square:hover{
  cursor: pointer;  
}

/** mobile */
@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "new score"
    "message message";
  }

  .container--main{
    flex-direction: column;
  }
}